<h4 id="node-modal-title">{{microControllerService.dynamicMicrocontroller}}</h4>
<table id="modules-table">
  <thead>
    <tr>
      <th>
        Module description
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bedroom light</td>
      <td class="right-align">
        <div class="switch">
          <label>
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
              </label>
        </div>
      </td>
    </tr>
    <tr>
      <td>Bathroom light</td>
      <td class="right-align">
        <div class="switch">
          <label>
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
              </label>
        </div>
      </td>
    </tr>
    <tr>
      <td>Temperature sensor</td>
      <td class="right-align">
        <i class="fa fa-thermometer-three-quarters fa-2x" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>Light Intensity</td>
      <td class="right-align">
        <i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i>
      </td>
    </tr>
  </tbody>
</table>